@mixin type-setting($value: default) {
    font-size: map_get($font-scale, $value);
    line-height: map_get($height-scale, $value) * $line-height;
}

@mixin not-last-child() {
    &:not(:last-child) {
        @content;
    }
}

@mixin not-first-child (){
    &:not(:first-child) {
        @content
    }
}

@mixin grid($cols, $hSpace: 0.25, $vSpace: 0.25) {
    @include column();

    > * {
        @include flexbox();
        @include not-last-child(){
            @include padding-bottom($vSpace);
        }

        > * {
            @include not-first-child(){
                @include padding-left($hSpace);
            }
            @for $i from 1 through length($cols) {
                $el: nth($cols, $i);

                &:nth-child(#{$i}) {
                    width: $el * 1%;
                }
            }
        }
    }




}
