@mixin aside() {
    @include border-right();
    @include background-grey-light();
    position: fixed;
    width: spacing(13);
    height: 100%;
    @include tag-list($flip: true, $margin-bottom: 0.25, $hoverable: true);

    .tag-list {
        @include padding-VH(0.5, 1);
    }

    h3 {
        @include padding-VH(0.5, 1);
        @include type-setting(big);
        @include border-bottom();
        @include padding-top();
        @include padding-bottom(0.25);
        text-align: right;
    }


    li {
        @include center-V();
        @include border-bottom();
        a {
            @include padding-VH(0.5, 1);
            width: 100%;
        }
        &.active {
            @include foreground-white();
            @include background-grey-primary();
        }
    }


}

