@mixin header-main() {
    height: spacing(2.5);
    @include padding-H(1);
    @include center-V();
    @include justify-content(space-between);
    box-shadow: 1px 3px 3px rgba(0,0,0, 0.2), 1px 1px 1px rgba(0,0,0, 0.2);
    background-color: $black;
    width: 100%;
    position: fixed;
    z-index: 100;
    nav {
        @include svg-icon($colour: $white);
        @include center-V();
        a {
            color: $white;
            @include not-last-child() {
                @include margin-right(1);
            }
        }
    }
}
