@mixin tag-list($flip: false, $margin-bottom: 0, $margin-right: 1,$circle-colour: $grey-light, $hoverable: false) {
    .tag-list {
        @include flexbox();
        @include flex-wrap(wrap);

        li {
            @include black-white();
            @include type-setting(small);
            @include margin-bottom($margin-bottom);
            @include margin-right($margin-right);
            @include padding-V(0.25);
            @include padding-left(0.25);
            @include padding-right(0.5);
            @include border($black);
            position: relative;

            &::after, &::before {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &::after {
                border-left-color: $black;
                border-width: 13px;
                margin-top: -13px;
            }
            &::before {
                border-left-color: $black;
                border-width: 14px;
                margin-top: -14px;
            }

            span {
                @include border($black);
                @include circle(0.33);
                display: block;
                background-color: $circle-colour;
                position: absolute;
                right: -4px;
                top: 10px;
                z-index: 2;
            }

            @if $flip {
                @include black-white(true);
                @include border($grey-primary);
                span {
                    @include border($grey-primary);
                }
                &::after {
                    border-left-color: $white;
                }
                &::before {
                    border-left-color: $grey-primary;
                }
            }

            &.inactive {
                opacity: 0.3;
            }

            @if $hoverable {
                @include hoverable();
            }
        }

    }
}
