#food-list {
    > h1 {
        @include type-setting(larger);
    }

    .food-list {
        @include column();
        section {
            max-height: 100vh;
            transition: all 0.2s ease-out;
            overflow: hidden;
            &.hidden {
                max-height: 0;
                margin: 0 !important;
                @include border($white);
            }

            @include not-last-child() {
                @include border-bottom();
            }
            @include flexbox();
            background-color: $grey-light;
            .left {
                @include square(9.5);
                @include border-right();
                img {
                    @include fit-size();
                }
            }

            .right {
                @include tag-list();
                .tag-list {
                    @include padding-V(0.5);
                }
                @include margin-H();
                @include flex-grow();

                h3 {
                    @include type-setting(big);
                    @include padding-V(0.5);
                    @include flexbox();
                    @include justify-content(space-between);
                }

                > ul {
                    background-color: white;
                    @include border();

                    li {
                        @include flexbox();
                        position: relative;

                        .name {
                            background-color: $primary;
                            color: $white;
                            width: spacing(3.5);
                            @include padding-VH(0.25, 0.5);
                            @include not-last-child {
                                @include border-bottom($white);
                                @include border-right($white);
                            }
                        }

                        .info {
                            position: relative;
                            width: spacing(20);
                            @include padding-VH(0.25, 0.25);
                            :last-child {
                                top: 0;
                                left: 0;
                                position: absolute;
                                background-color: $primary;
                                opacity: 0.2;
                                height: spacing(1.5);
                            }
                        }

                    }

                }

            }
        }
    }

}

