

html, body, .main-wrapper {
    //height: calc(100% - (10 * 1.5px));
}

html {
    font-size: 14px;
}

body {
    @include type-setting();
    margin: 0 auto;
    color: $black;
    font-family: $font-family-primary;

    > header {
        @include header-main();
    }

    @include column();
    @include flex-wrap(wrap);

    .main-wrapper {
        @include padding-top(2.5);
        @include flex-grow();
        @include flexbox();


        aside {
            @include aside();
        }

        main {
            @include flex-grow();
            @include margin-left(13);
        }
    }

}

