

// colours
$grey-dark: rgba(170, 170, 170, 1);
$grey-primary: rgba(230, 230, 230, 1);
$grey-light: rgba(250, 250, 250, 1);
$white: white;


$primary: #C1180B;
$black: #11050B;


// typography
$font-scale: (
    tiny: 0.667rem,
    small: 0.79rem,
    default: 1rem,
    big: 1.25rem,
    large: 2.25rem,
    larger: 3.75rem,
    huge: 5.063rem,
    );

$height-scale: (
    tiny: 1,
    small: 1,
    default: 1,
    big: 1,
    large: 1.5,
    larger: 1,
    huge: 2,
);

$font-family-primary: 'Open Sans', sans-serif;
$line-height: 1.5;



